* { box-sizing: border-box;} 

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 18px;
    line-height: 25px;
    color: black;
    background: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
}
h2 {
  color: black;
}

.container {
  width:100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  
  
}
#portfolio {
 margin-bottom: 48px;
  
}
#logo{
color: white;
/* background-color: darkgray; opacity: 90%; */
/* border-color: darkgray; */
padding: 20px;
font-family: serif;
font-weight: 200;
font-size: 20pt;
text-align: center;
border-radius: .1rem;
}
.navbar {
    border-bottom: 0px solid white;

}

p {
    padding: 15px;
}

img {
    padding: 5px;
    width: auto !important ;
}
.card-img{
  height: 260px!important ;
  width: 370 !important ;
}
#icon {
  padding-bottom: 30px;
  width: auto !important ;

}
#iconBlock {
  height: 230px;
  width: auto !important ;

}

#main{
  min-height: 60vh;
  width:100%;
  max-width: 980px;
  margin: 0 auto;
  clear: both;
  padding: 5%;
  padding-bottom: 5%;
  /* margin: 5%; */
}
#contact{
  min-height: 75vh;
  width:100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  padding: 5%;
  padding-bottom: 5%;
  /* margin: 5%; */
}
footer{
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: medium;
  /* position: fixed; */
  border-top: 7px solid gray;
}

.clip-me { 
  /* referencing path from an inline SVG <clipPath> */
  background: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"); 
/* clip-path: polygon(50% 29%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0% 0%);
height: 20%; */
}
.clip-me-2 { 
  clip-path: polygon(100% 0, 100% 70%, 51% 100%, 0 70%, 0 50%, 0 0);
height: 30%;

}